<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="post">

        <table>
            <tr>
                <th>用户名:</th>
                <td><input type="text" name="uname"></td>
            </tr>
            <tr>
                <th>密码:</th>
                <td><input type="password" name="pwd"></td>
            </tr>
            <tr>
                <th>验证码:</th>
                <td><input type="text" name="code" maxlength="4" id=""><span style="background-color: #00aeef">{{code}}</span></td>
            </tr>
            <tr>
                <th></th>
                <td><input type="submit" value="登录"></td>
            </tr>
        </table>





    </form>

</body>
</html>